@font-face {
    font-family: Apple SD Gothic Neo;
    src: url(fonts/AppleSDGothicNeo-main/AppleSDGothicNeo.css);
}
*{margin: 0; padding: 0;
    border: 0;
    background: transparent;
box-sizing: border-box;
font-size: 100%;
font-family: Apple SD Gothic Neo, sans-serif;
letter-spacing: -1px;
}
html{
    width: 100%;
    height: 100%;
    color: #666;
    font-weight: 300;
}
body{
    word-break: keep-all;
    width: 100%;
    line-height: 1;
    font-size: 15px;
}
.fp-enabled {overflow: hidden;
height: 100%;}
:root{
    --swiper-theme-color:#007aff;
        --swiper-navigation-size:44px;
}
#wrap{
    width: 100%;
    position: relative;
    overflow: hidden;
    min-width: 1200px;
}