@font-face {
  font-family: "NonghyupFont";
  src: url("./fonts/농협체m-eva00700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  color: #666;
}
body {
  width: 100%;
  font-family: "NonghyupFont", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
}
ul,
li {
  list-style: none;
}
select,
input,
textarea,
button {
  outline: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0 none;
  max-width: 100%;
}
a {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}
#wrap,
#container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
section {
  position: relative;
  display: block;
}
/* **************** header *****************/
header {
  width: 100%;
  height: 100px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
header.open {
  background: #fff;
}
header.open::after {
  background: #fff;
  content: "";
  position: absolute;
  top: 100px;
  left: -50vw;
  right: -50vw;
  height: 340px;
  z-index: -1;
}
header.dark {
  background: #fff;
}
header.dark .gnb > li > a {
  color: #5b5b5b !important;
}

.header_inner {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
header .logo {
  padding-right: 60px;
}
header .logo a {
  display: block;
  width: 128px;
  height: 32px;
  background: url(images/logo_nh_main_new.png) no-repeat center/contain;
}
.header_wrap {
  flex: 1;
}
.gnb {
  display: flex;
  justify-content: space-between;
}
.gnb > li {
  width: 140px;
  position: relative;
}

.gnb > li > a {
  z-index: 1;
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: rgb(244, 244, 244);
  transition: 0.3s;
}
header.open .gnb > li > a {
  color: #222;
}

.depth2_wrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

header.open .depth2_wrap {
  height: 400px;
}
.depth2_inner {
  padding: 20px 0;
  box-sizing: border-box;
  display: block;
}
.depth2_list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.depth2_list li {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}
.depth2_list li:last-child {
  padding-bottom: 14px;
}

.depth2_list li:hover {
  color: #00853e;
  font-weight: 700;
  padding-left: 8px;
}

.all_menu {
  display: none;
}

#dimmed {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10005;
}
.m_header {
  display: none;
}
@media screen and (min-width: 1025px) {
  .gnb > li:hover > a {
    color: #00853e;
  }
  .gnb > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    height: 10px;
    width: calc(100% + 12px);
    background: #ffd900;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0.6;
  }
  .gnb > li:hover > a::after {
    transform: scaleX(1);
  }
  .m_util_box {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 70px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
  }
  .header_inner {
    height: 70px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
  }
  .util_box {
    display: none !important;
  }
  .all_menu {
    display: block;
  }
  .all_menu a {
    background: url(images/icon_all_menu_on.png) no-repeat center/contain;
    display: block;
    width: 28px;
    height: 22px;
    transition: all 0.3s;
  }
  .header_wrap {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 10001;
    transition: 0.5s ease-in-out;
    display: block !important;
    overflow-y: auto;
  }
  .header_wrap.m_open {
    right: 0;
  }

  .m_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background: #00853e;
  }
  header .logo {
    margin: 0;
  }
  header .logo a {
    display: block;
    width: 82px;
    height: 26px;
    background: url(images/logo_nh_main_new.png) no-repeat center/contain;
  }
  .m_header .m_logo img {
    display: block;
    width: 82px;
    height: 26px;
    filter: brightness(0) invert(1);
  }
  .m_close {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
  }
  .m_close span::before,
  .m_close span::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
  }
  .m_close span::before {
    transform: rotate(45deg);
  }
  .m_close span::after {
    transform: rotate(-45deg);
  }
  .m_util_box {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .m_util_box ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .m_util_box img {
    width: 74px;
    height: auto;
  }
  .header_wrap .gnb {
    display: block;
    padding: 10px 0;
  }
  .header_wrap .gnb > li {
    width: 100%;
    text-align: left;
  }
  .header_wrap .gnb > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    line-height: 65px;
    font-size: 18px;
    color: #666;
    position: relative;
  }
  .header_wrap .gnb > li > a::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #666666;
    border-right: 2px solid #666;
    transform: rotate(135deg);
    transition: 0.3s;
    margin-right: 5px;
    display: block;
  }
  .header_wrap .gnb > li.active > a {
    color: #333;
    font-weight: 800;
  }
  .header_wrap .gnb > li.active > a::after {
    transform: rotate(-45deg);
    border-color: #00853e;
    margin-top: 5px;
  }

  .header_wrap .depth2_wrap {
    position: static !important;
    width: 100% !important;
    height: auto;
    display: none;
    background: #f8f9f7;
    transform: none !important;
    border: none;
  }
  .header_wrap .depth2_inner {
    display: block;
    width: 100% !important;
    padding: 0;
  }

  .header_wrap .depth2_list {
    width: 100%;
  }

  .header_wrap .depth2_list li {
    padding: 20px 40px;
    text-align: left;
    font-size: 15px;
  }
}
/* **************** section01 ***************** */
.section01 {
  width: 100%;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0;
}

.section01 .video-container {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.section01 .video-container video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* 영상이 너무 밝으면 0.3~0.4로 조절 */
}

.video-progress-wrap {
  position: absolute;
  bottom: 156px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 4px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 10;
}
.video-progress-bar {
  width: 0%;
  height: 100%;
  background: #ffd900; /* 농협 포인트 컬러 */
}

.main-quick-menu {
  position: absolute;
  bottom: 91px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 90%;
}
.quick-list {
  display: flex;
}
.quick-list li {
  flex: 1;
}
.quick-list li a {
  position: relative;
  display: block;
  padding: 24px 14px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
/* 없앨까고민 ---- 
.quick-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px; 
  background: #fff;
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}
.quick-list li a:hover::after {
  width: 100%;
}
*/
.quick-list li a:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.08);
  letter-spacing: 0.5px;
}
.quick-list li a span {
  color: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
  font-size: 12px;
  margin-right: 10px;
  opacity: 0.6;
  font-family: "Arial";
}
.quick-list li a:hover span {
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .video-progress-wrap {
    bottom: 80px;
    width: 84%;
  }

  .video-overlay,
  .main-quick-menu {
    display: none;
  }
}

/* ***************section02 *************** */
.section02 .inner {
  padding-top: 40px;
}
.sec_title {
  text-align: center;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(50px) scale(0.98);
  transition: all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section.active .sec_title {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition-delay: 0.2s;
}
.sec_title .main_title {
  font-size: 56px;
  font-weight: 900;
  color: #f5d000;
  line-height: 1.1;
  letter-spacing: -3px;
}
.sec_title .sub_title {
  font-size: 20px;
  color: #555;
  margin-top: 10px;
  font-weight: 300;
  display: none;
}

.stats_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  padding: 0 30px;
  position: relative;
}
.stat_item {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.num_box {
  display: flex;
  gap: 6px;
  align-items: baseline;
  position: relative;
}

.section02.active .num_box::before {
  height: 50px;
}
.stat_item .count {
  display: block;
  font-size: 58px;
  font-weight: 800;
  color: #00853e;
  line-height: 1;
  letter-spacing: -3px;
}
.stat_item .stat_name {
  font-size: 24px;
  color: #444;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.stat_item .stat_desc {
  font-size: 14px;
  color: #999;
  line-height: 1.6;
  font-weight: 300;
}

/* [섹션02 전용] 카드 - 1, 2, 3 순차 애니메이션 */
.card_container {
  display: flex;
  gap: 20px;
  padding: 0 40px;
}
.card_item {
  height: auto;
  max-height: 400px;
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #383838;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.03);
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.section.active .card_item:nth-child(1) {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition-delay: 0.4s;
}
.section.active .card_item:nth-child(2) {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition-delay: 0.6s;
}
.section.active .card_item:nth-child(3) {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition-delay: 0.8s;
}
.card_item .thumb {
  width: 100%;
  height: 100%;
}
.card_item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; /* 이미지 기본 밝기 조정 */
  transition: 0.8s ease;
}
.card_item .info_box {
  position: absolute;
  inset: 0;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}
.card_item h3 {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
  letter-spacing: -1px;
}
.card_item .hidden_desc {
  font-size: 16px;
  color: #ddd;
  line-height: 1.6;
  margin-top: 20px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s ease;
  word-break: keep-all;
}
.card_item .btn_more {
  display: inline-block;
  margin-top: 30px;
  color: #fff;

  font-weight: 500;
  font-size: 14px;
  opacity: 0;
  transition: 0.5s;
}
.draw_border {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}
.draw_border::before,
.draw_border::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
}
.draw_border::before {
  top: 0;
  left: 0;
}
/* 아래쪽 -> 왼쪽 */
.draw_border::after {
  bottom: 0;
  right: 0;
}
.card_item:hover .draw_border::before {
  width: 100%;
  height: 100%;
  border-top-color: #fff; /* 실버/화이트 계열 선 */
  border-right-color: #fff;
  transition:
    width 0.2s linear,
    height 0.2s linear 0.2s; /* 위 그려지고 오른쪽 */
}
.card_item:hover .draw_border::after {
  width: 100%;
  height: 100%;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition:
    width 0.2s linear 0.4s,
    height 0.2s linear 0.6s; /* 아래 그려지고 왼쪽 */
}

.card_item:hover .thumb img {
  transform: scale(1.05);
  opacity: 0.3; /* 이미지 더 어둡게 해서 글자 강조 */
  filter: grayscale(0.7) brightness(0.4); /* 실버 무드를 위해 흑백 처리 */
}
.card_item:hover .hidden_desc {
  max-height: 100px;
  opacity: 1;
}
.card_item:hover .btn_more {
  opacity: 1;
}
.card_item:hover h3 {
  transform: translateY(-10px);
}
/* ***************section03 *************** */
.section03 {
  background: url(/images/bg_notice.png) no-repeat center/cover;
}
